<!-- <nav mat-tab-nav-bar  animationDuration="0ms">
    <mat-tab label="Overview" routerLink="/dashboard"></mat-tab>
    <mat-tab label="States" routerLink="/test"></mat-tab>
    <mat-tab label="Districts"></mat-tab>
    <mat-tab label="Resources"></mat-tab>
</nav> -->
<div class="tabs-container">
<nav mat-tab-nav-bar class="tab-header"   animationDuration="0ms">
  <a mat-tab-link
  *ngFor="let link of navLinks"
  [routerLink]="link.link"
  routerLinkActive #rla="routerLinkActive"
  [active]="rla.isActive">
 {{link.label}}
</a>
</nav>
</div>