
.layout{
    background-color: #0D1117;
    min-height: 100vh;
    max-height: 500vh;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.17fr 3fr;
    grid-template-areas:
    // "nav nav"
    "sidebar tabs"
    "sidebar main"
    ;
    grid-gap: 0.2rem;
}
nav{
    grid-area: nav;
}
#tabs{
   
    grid-area: tabs;
}
main{
    // border-top: 1px solid #30363d!important;
    grid-area: main;
}
#sidebar{
    grid-area: sidebar;
}
