.dasboard-table-block{
    border-radius: 15px;
    margin-top: 20px !important;
    border: 1px solid #30363d!important;
}
table {
    width: 100%;
  }
  .mat-row,.mat-header-cell{
    background-color: #0D1117;
}
  