.dasboard-table-block{
    border-radius: 15px;
    border: 1px solid #30363d!important;
}
table {
   width: 100%;
}
.mat-row,.mat-header-cell {
    background-color: #0D1117;
}
.table-row {
  height: 28px !important;
  background-color: #101D2D;
  opacity: 0.9;
}
.table-row:hover{
  background-color: #0D1117;
  cursor: pointer;
}
.mat-table {
  border-collapse: separate;
  border-spacing:04px;
  background-color: #0D1117;
}  
th.mat-header-cell{
  color: #C9D1D9 !important;
  font-size: 1em;
}
th.mat-header-cell, .mat-cell {
  text-align: center !important;
}
tr.mat-header-row {
  height: 40px;
}
.mat-icon {
  font-size: 20px !important;
  vertical-align: middle;
}