<mat-tab-group animationDuration="0ms" class="margintop" style="border: 1px solid #30363d">
  <mat-tab label="Age: 18 to 44">
    <mat-card class="card-first-tab">
      <form class="form-inline">
        <label for="pin">Pin Code:</label>
        <input
          id="pin"
          [(ngModel)]="pinCode"
          placeholder="Pin Code"
          name="pin"
        />
        <label for="date">Date:</label>
        <input
          [(ngModel)]="datePicker"
          id="date"
          placeholder="dd-mm-yyyy"
          name="date"
        />
        <button type="button" (click)="getAllVaccinationSlotsForEighteenPlus()">
          Check Availability
        </button>
      </form>
    </mat-card>
    <mat-card class="card-first-tab">
      <div *ngFor="let slot of slotForEighteenPlus;let i=index">
      <mat-accordion *ngIf="slot.sessions.length!=0">
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false" class="slot-panel" style="background-color: #0D1117;">
            <mat-expansion-panel-header  class="slot-panel-header">
              <mat-panel-title style="width:30%">
                {{slot.name| titlecase | slice:0:64}}
              </mat-panel-title>
              <mat-panel-title  style="width:30%">
               {{slot.address| titlecase | slice:0:64}}
              </mat-panel-title>
              <mat-panel-title *ngIf="slot.totalVaccine==0"  style="width:15%; color: #F85149;">
                 Available: 0
              </mat-panel-title>
              <mat-panel-title *ngIf="slot.totalVaccine>50"  style="width:15%; color: #8BED4F;">
                Available: {{slot.totalVaccine}}
             </mat-panel-title>
             <mat-panel-title *ngIf="slot.totalVaccine>0 && slot.totalVaccine<=50"  style="width:15%; color: #CAAE3C;">
               Available: {{slot.totalVaccine}}
            </mat-panel-title>
            <mat-panel-title  style="width:15%; color: #8BED4F;" *ngIf="slot.fee_type=='Free'">
              Fee Type: {{slot.fee_type}}
          </mat-panel-title>
          <mat-panel-title  style="width:15%;color: #F85149;" *ngIf="slot.fee_type!='Free'">
            Fee Type: {{slot.fee_type}}
        </mat-panel-title>
              <mat-panel-title  style="width:10%">
                  Sessions: {{slot.sessions.length}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider><br>
            <mat-chip-list *ngFor="let session of slot.sessions;let i=index">
              <mat-chip [ngClass]="session.available_capacity==0 ? 'isNotAvl' : ''">{{i+1}} .</mat-chip>
              <mat-chip [ngClass]="session.available_capacity==0 ? 'isNotAvl' : ''">{{session.date}}</mat-chip>
              <mat-chip [ngClass]="session.available_capacity==0 ? 'isNotAvl' : ''">Avl: {{session.available_capacity}}</mat-chip>
              <mat-chip [ngClass]="session.available_capacity==0 ? 'isNotAvl' : ''">{{session.vaccine}}</mat-chip>
              <mat-chip [ngClass]="session.available_capacity==0 ? 'isNotAvl' : ''">Slots: {{session.slots}}</mat-chip>
            </mat-chip-list>
          </mat-expansion-panel>
        </mat-accordion>
        <div *ngIf="slot.sessions.length==0"  style="text-align: center;;color: #2B80FF;">
          <span *ngIf="i<1">No centres are available on this pincode at the moment. Kindly try after sometime or try with a different pincode.</span>
        </div>
      </div>
      </mat-card>
  </mat-tab>
  <mat-tab label="Age: 45+"  (click)="getAllVaccinationSlotsForfortyFivelus()">
    <mat-card class="card-first-tab">
      <form class="form-inline">
        <label for="pin">Pin Code:</label>
        <input
          id="pin"
          [(ngModel)]="pinCodeFortyFivePlus"
          placeholder="Pin Code"
          name="pin"
        />
        <label for="date">Date:</label>
        <input
          [(ngModel)]="datePickerFortyFivePlus"
          id="date"
          placeholder="dd-mm-yyyy"
          name="date"
        />
        <button type="button" (click)="getAllVaccinationSlotsForfortyFivelus()">
          Check Availability
        </button>
      </form>
    </mat-card>
    <mat-card class="card-first-tab">
      <div *ngFor="let slot of slotForFortyFivePlus; let i=index">
      <mat-accordion *ngIf="slot.sessions.length!=0">
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false" class="slot-panel" style="background-color: #0D1117;">
            <mat-expansion-panel-header  class="slot-panel-header">
              <mat-panel-title style="width:30%">
                {{slot.name| titlecase | slice:0:64}}
              </mat-panel-title>
              <mat-panel-title  style="width:30%">
               {{slot.address| titlecase | slice:0:64}}
              </mat-panel-title>
              <mat-panel-title *ngIf="slot.totalVaccine==0"  style="width:15%; color: #F85149;">
                Available: 0
             </mat-panel-title>
             <mat-panel-title *ngIf="slot.totalVaccine>50"  style="width:15%; color: #8BED4F;">
               Available: {{slot.totalVaccine}}
            </mat-panel-title>
            <mat-panel-title *ngIf="slot.totalVaccine>0 && slot.totalVaccine<=50"  style="width:15%; color: #CAAE3C;">
              Available: {{slot.totalVaccine}}
           </mat-panel-title>
              <mat-panel-title  style="width:15%; color: #8BED4F;" *ngIf="slot.fee_type=='Free'">
                  Fee Type: {{slot.fee_type}}
              </mat-panel-title>
              <mat-panel-title  style="width:15%;color: #F85149;" *ngIf="slot.fee_type!='Free'">
                Fee Type: {{slot.fee_type}}
            </mat-panel-title>
              <mat-panel-title  style="width:10%">
                  Sessions: {{slot.sessions.length}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider><br>
            <mat-chip-list *ngFor="let session of slot.sessions;let i=index">
              <mat-chip [ngClass]="session.available_capacity==0 ? 'isNotAvl' : ''">{{i+1}} .</mat-chip>
              <mat-chip [ngClass]="session.available_capacity==0 ? 'isNotAvl' : ''">{{session.date}}</mat-chip>
              <mat-chip [ngClass]="session.available_capacity==0 ? 'isNotAvl' : ''">Avl: {{session.available_capacity}}</mat-chip>
              <mat-chip [ngClass]="session.available_capacity==0 ? 'isNotAvl' : ''">{{session.vaccine}}</mat-chip>
              <mat-chip [ngClass]="session.available_capacity==0 ? 'isNotAvl' : ''">Slots: {{session.slots}}</mat-chip>
            </mat-chip-list>
          </mat-expansion-panel>
        </mat-accordion>
        <div *ngIf="slot.sessions.length==0"  style="text-align: center;;color: #2B80FF;">
          <span *ngIf="i<1">No centres are available on this pincode at the moment. Kindly try after sometime or try with a different pincode.</span>
          </div>
      </div>
      </mat-card>
  </mat-tab>
  <mat-tab label="Notify Slot Availability">
    <mat-card class="card-first-tab">
      <form class="form-inline">
        <label for="name">Name:</label>
        <input
        style=" width: 160px;"
          id="name"
          [(ngModel)]="username"
          placeholder="Full Name"
          name="name"
        />
        <label for="email">Email Id:</label>
        <input
        style=" width: 160px;"
          [(ngModel)]="emailId"
          id="email"
          placeholder="abc@gmail.com"
          name="email"
        />
        <label for="userpin">Pincode:</label>
        <input
        style=" width: 100px;"
          [(ngModel)]="userpin"
          id="userpin"
          placeholder="100006"
          name="userpin"
        />
        <label for="age">Age:</label>
        <select name="age" id="age" [(ngModel)]="userAgeChoice" style=" width: 80px;">
          <option value="45">45+</option>
          <option value="18">18+</option>
          <option value="both">Both</option>
        </select>
        <button type="button" (click)="submitUserData()">
         Submit
        </button>
      </form>
    </mat-card>
    <mat-card class="card-first-tab" *ngIf="isSuccess" style="text-align: center;color: #2B80FF;">
      Thanks for helping us with your details. We will notify you with slot availability details on your email Id. 
    </mat-card>
  </mat-tab>
</mat-tab-group>
